<h1 class="title is-1 ml-6"><u>HANGOUT INDEX</u></h1>

<div class='ml-6'>
  <div id="message-display">
    <% @messages.each do |message| %>
      <article class="message">
        <div class="message-header">
          <%= message.user.email %>
        </div>
        <div class="message-body">
          <%= message.body %>
        </div>
      </article>
    <% end %>
  </div>
  <%= simple_form_for(@message) do |f| %>
    <form action="" id="message-form">
      <div class="field has-addons">
        <div class="control">
          <%= f.input :body, input_html: { id: 'message-input', class: 'input' }, wrapper: false %>
        </div>
        <div class="control">
          <%= f.button :button, class: 'button is-primary' %>
        </div>
      </div>
    </form>
  <% end %>
</div>
